<div class="panel panel-default">
  <div class="panel-heading"><%= @greeting %></div>
  <div class="panel-body">
    <%= @description.html_safe %>
  </div>


  <%= form_tag( { :action => :send_mail, }, { :method => :post }) %>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> Save
  <% end %>


</div>